In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import pandas as pd 
import time

In [2]:
executable_path = {'executable_path':'C:/Users/lsrin/Desktop/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
### NASA Mars News
url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(5)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
search = soup.select_one("li.slide")

In [5]:
news_title = search.find("div", class_="content_title").get_text()
news_title

"Five Things to Know About InSight's Mars Landing"

In [6]:
news_p = search.find("div", class_="article_teaser_body").get_text()
news_p

"NASA engineers will be holding their breath when their spacecraft heads into Mars' atmosphere on Nov. 26."

In [7]:
### JPL Mars Space Images - Featured Image
url2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url2)
time.sleep(5)
fullimage = browser.find_by_id("full_image")
fullimage.click()
time.sleep(5)

In [8]:
# Scrape the browser into soup and use soup to find the image of mars
# Save the image url to a variable called `img_url`
html2 = browser.html
soup = BeautifulSoup(html2, 'html.parser')
image = soup.find("img", class_="fancybox-image")["src"]
img_url = "https://jpl.nasa.gov"+image
featured_image_url = img_url
print(featured_image_url)

https://jpl.nasa.gov/spaceimages/images/mediumsize/PIA17832_ip.jpg

In [9]:
### Mars Weather
url3 = "https://twitter.com/marswxreport?lang=en"
browser.visit(url3)
time.sleep(5)

In [10]:
html_weather = browser.html
soup3 = BeautifulSoup(html_weather, 'html.parser')
mars_weather = soup3.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

Sol 2213 (2018-10-27), high -12C/10F, low -70C/-93F, pressure at 8.74 hPa, daylight 06:11-18:29

In [11]:
### Mars Facts
url4 = "https://space-facts.com/mars/"

In [12]:
### Use Pandas to convert the data to a HTML table string
table = pd.read_html(url4)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [13]:
df_marsfacts = table[0]
df_marsfacts.columns = ["Parameter", "Values"]
df_marsfacts.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [14]:
# Html Table String
marshtml_table = df_marsfacts.to_html()
marshtml_table = marshtml_table.replace("\n", "")
marshtml_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [15]:
### Mars Hemispheres
url5 = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url5)
time.sleep(5)

In [16]:
# Use splinter to loop through the four images and load them into a dictionary
 
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
mars_hemis=[]

In [17]:
# loop through the four tags and load the data to the dictionary

for i in range (4):
    time.sleep(5)
    images = browser.find_by_tag('h3')
    images[i].click()
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    partial = soup.find("img", class_="wide-image")["src"]
    img_title = soup.find("h2",class_="title").text
    img_url = 'https://astrogeology.usgs.gov'+ partial
    dictionary={"title":img_title,"img_url":img_url}
    mars_hemis.append(dictionary)
    browser.back()

In [18]:
print(mars_hemis)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]